{% extends "layoutDemo.html" %} {% block content %}
<div id="regis">
    <div class="container" style="text-align: center">
        <v-app id="inspire" class="font">
            <center>
                <div style="width: 50%; margin-left: 24px">
                    <v-img src="{{ url_for('static',filename='images/2-Mango.png') }}"></v-img>
                </div>
            </center>

            <br /><br />
            <p style="font-size: 20px;">ระบบแจ้งซ่อม</p>
            <br />
            <form method="POST" action="">
                <v-container fluid>
                    <v-text-field :rules="rules" :counter="13" v-model="idc" placeholder="รหัสบัตรประชาชน"
                        color="#55BC9F" prepend-inner-icon="mdi-key-variant" height="60px" outlined rounded>
                    </v-text-field>

                    <div>
                        <v-checkbox v-model="checkbox" label="Remember Me" color="#55BC9F"></v-checkbox>
                    </div>
                    <br />
                    <v-card-actions style="margin-left: -7px">
                        <v-btn style="width: 165px; height: 50px" type="submit" color="#55BC9F" rounded dark>Sign in
                        </v-btn>
                    </v-card-actions>
                </v-container>
            </form>
        </v-app>
    </div>
</div>

<script>
    new Vue({
        el: "#regis",
        vuetify: new Vuetify(),
        data: () => ({
            idc: '',
            idcard: false,
            idcardtext: "รหัสบัตรประชาชน",
            checkbox: false,
            rules: [v => !!v || 'กรุณากรอกหมายเลขบัตรประชาชน',
            v => Number(v) || 'กรุณากรอกเป็น ตัวเลข บัตรประชาชน',
            v => (v && v.length <= 13 && v.length >= 13 || 'กรุณากรอกหมายเลขบัตรประชาชนให้ถูกต้อง')
            ],
        }),
        delimiters: ["[[", "]]"]
    });
</script>

<style>
    .font {
        font-family: "Prompt", sans-serif;
    }
</style>

{% endblock %}