{% extends "layoutDemo.html" %}
{% block content %}
<div id="app">
    <v-app id="inspire" class="font">
        <v-row justify="center">
            <v-card max-width="100%" width="600px" height="100%" elevation="3" style="margin-top: 12px;">
                <div>
                    <v-app-bar color="orange" dense flat height="60px"
                        style="background: linear-gradient(to right , #80DEEA, #2979FF, #651FFF);">
                        <v-col cols="12" xs="12" md="12">
                            <v-text-field label="เลขที่งานซ่อม" style="margin-top: 34px;" placeholder="เลขที่งานซ่อม"
                                append-icon="mdi-magnify" solo flat></v-text-field>
                        </v-col>
                    </v-app-bar>
                    <v-app-bar color="orange" dense dark flat height="60px"
                        style="background: linear-gradient(to right , #80DEEA, #2979FF, #651FFF);">
                        <v-col cols="5" xs="5" md="5" style=" text-align: center">
                            <h1 style="font-size: 20px; font-weight: bold;">
                                ติดตามงานซ่อม
                            </h1>
                        </v-col>
                        <v-col cols="6" xs="6" md="6">
                            <v-select :items="items" label="สถานะ" solo light style="margin: 25px 0px 0px -10px;" flat>
                            </v-select>
                        </v-col>
                        <v-col cols="1" xs="1" md="1" style="margin-left: -25px">
                            <v-avatar color="indigo" size="40">
                                <v-icon dark>
                                    mdi-account-circle
                                </v-icon>
                            </v-avatar>
                        </v-col>
                    </v-app-bar>
                </div>
                <v-row justify="center" style="margin: 10px 0px 0px 0px;">
                    <v-card elevation="3">
                        <v-card max-width="100%" width="400px" max-height="100%" height="260px">
                            <v-toolbar color="#E0E0E0" elevation="0" style="font-size: 18px; font-weight: bold; color: 
                            #616161; background: linear-gradient(to top right , #0091EA, #536DFE, #2196F3);" dark>
                                ท่อน้ำชำรุด
                            </v-toolbar>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="6" xs="6" md="6">
                                        <p style="font-size: 16px; font-weight: bold;">
                                            Draft 0904587
                                        </p>
                                    </v-col>
                                    <v-col cols="6" xs="6" md="6">
                                        <p style="font-size: 16px; color: grey; text-align: end">
                                            01/12/2020
                                        </p>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <V-col cols="12" xs="12" md="12">
                                        <p style="font-size: 16px; margin-top: -10px">1.
                                            ท่อน้ำแตกบริเวณพื้นที่สวนหลังบ้าน
                                        </p>
                                    </V-col>
                                </v-row>
                                <v-row>
                                    <V-col cols="6" xs="6" md="6">
                                        <p style="font-size: 16px; text-align: center">กำลังดำเนินการ :</p>
                                    </V-col>
                                    <V-col cols="6" xs="6" md="6">
                                        <v-text-field v-model="st1" solo disabled elevation="0"
                                            style="margin: -15px 0px 0px -15px;">
                                        </v-text-field>
                                    </V-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="5" xs="5" md="5" style="margin: -20px 0px 0px 0px">
                                        <v-rating v-model="rating" background-color="grey lighten-1" color="red" hover
                                            empty-icon="mdi-heart-circle" full-icon="mdi-heart-circle"
                                            half-icon="mdi-heart-circle" length="1" size="45" value="1"
                                            style="margin: -20px 0px 0px 50px">
                                        </v-rating>
                                    </v-col>
                                    <v-col cols="7" xs="7" md="7" style="margin: -20px 0px 0px 0px">
                                        <p style="font-size: 16px; color: grey; text-align: end;">
                                            กำหนดเสร็จ: 07/12/2020
                                        </p>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                        <v-card max-width="100%" width="400px" max-height="100%" height="220px" style="margin-top: 12px"
                            elevation="0" outlined>
                            <!-- <v-toolbar color="#E0E0E0" elevation="0" style="font-size: 18px; font-weight: bold; color: 
                                #616161; background: linear-gradient(to top right , #0091EA, #536DFE, #2196F3);" dark>
                            ท่อน้ำชำรุด
                        </v-toolbar> -->
                            <v-card-text>
                                <v-row>
                                    <v-col cols="6" xs="6" md="6">
                                        <p style="font-size: 16px; font-weight: bold;">
                                            Draft 0904588
                                        </p>
                                    </v-col>
                                    <v-col cols="6" xs="6" md="6">
                                        <p style="font-size: 16px; color: grey; text-align: end">
                                            01/12/2020
                                        </p>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <V-col cols="12" xs="12" md="12">
                                        <p style="font-size: 16px; margin-top: -10px">2.
                                            มีน้ำซึมตรงข้อต่อท่อตลอดเวลา
                                            ข้างกำแพงรั้วหลังบ้าน
                                        </p>
                                    </V-col>
                                </v-row>
                                <v-row>
                                    <V-col cols="6" xs="6" md="6">
                                        <p style="font-size: 16px; text-align: center">กำลังดำเนินการ :</p>
                                    </V-col>
                                    <V-col cols="6" xs="6" md="6">
                                        <v-text-field v-model="st1" solo disabled elevation="0"
                                            style="margin: -15px 0px 0px -15px;">
                                        </v-text-field>
                                    </V-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="5" xs="5" md="5" style="margin: -20px 0px 0px 0px">
                                        <v-rating v-model="rating1" background-color="grey lighten-1" color="red" hover
                                            empty-icon="mdi-heart-circle" full-icon="mdi-heart-circle"
                                            half-icon="mdi-heart-circle" length="1" size="45" value="1"
                                            style="margin: -20px 0px 0px 50px">
                                        </v-rating>
                                    </v-col>
                                    <v-col cols="7" xs="7" md="7" style="margin: -20px 0px 0px 0px">
                                        <p style="font-size: 16px; color: grey; text-align: end;">
                                            กำหนดเสร็จ: 07/12/2020
                                        </p>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-card>
                    <v-card elevation="3" style="margin-top: 12px;">
                        <v-card max-width="100%" width="400px" max-height="100%" height="260px">
                            <v-toolbar color="#E0E0E0" elevation="0"
                                style="font-size: 18px; font-weight: bold; color: 
                                        #616161; background: linear-gradient(to top right , #FFA000, #FB8C00, #E65100);" dark>
                                ล้างแอร์
                            </v-toolbar>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="6" xs="6" md="6">
                                        <p style="font-size: 16px; font-weight: bold;">
                                            Draft 0904585
                                        </p>
                                    </v-col>
                                    <v-col cols="6" xs="6" md="6">
                                        <p style="font-size: 16px; color: grey; text-align: end">
                                            02/12/2020
                                        </p>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <V-col cols="12" xs="12" md="12">
                                        <p style="font-size: 16px; margin-top: -10px">1.
                                            ต้องการให้มาล้างแอร์ และซ่อมแอร์ที่เสียงดัง
                                        </p>
                                    </V-col>
                                </v-row>
                                <v-row>
                                    <V-col cols="6" xs="6" md="6">
                                        <p style="font-size: 16px; text-align: center">ยังไม่รับเรื่อง :</p>
                                    </V-col>
                                    <V-col cols="6" xs="6" md="6">
                                        <v-text-field solo disabled elevation="0" style="margin: -15px 0px 0px -15px;">
                                        </v-text-field>
                                    </V-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="5" xs="5" md="5" style="margin: -20px 0px 0px 0px">
                                        <v-rating v-model="rating2" background-color="grey lighten-1" color="red" hover
                                            empty-icon="mdi-heart-circle" full-icon="mdi-heart-circle"
                                            half-icon="mdi-heart-circle" length="1" size="45" value="1"
                                            style="margin: -20px 0px 0px 50px">
                                        </v-rating>
                                    </v-col>
                                    <v-col cols="7" xs="7" md="7" style="margin: -20px 0px 0px 0px">
                                        <p style="font-size: 16px; color: grey; text-align: start; margin-left: 30px">
                                            กำหนดเสร็จ:
                                        </p>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-card>
                    <v-card elevation="3" style="margin-top: 12px;">
                        <v-card max-width="100%" width="400px" max-height="100%" height="260px">
                            <v-toolbar color="#E0E0E0" elevation="0"
                                style="font-size: 18px; font-weight: bold; color: 
                                    #616161; background: linear-gradient(to top right , #00E676, #00C853, #00BFA5);" dark>
                                ผนังร้าว
                            </v-toolbar>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="6" xs="6" md="6">
                                        <p style="font-size: 16px; font-weight: bold;">
                                            Draft 0904586
                                        </p>
                                    </v-col>
                                    <v-col cols="6" xs="6" md="6">
                                        <p style="font-size: 16px; color: grey; text-align: end">
                                            02/12/2020
                                        </p>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <V-col cols="12" xs="12" md="12">
                                        <p style="font-size: 16px; margin-top: -10px">1.
                                            ผนังตรงพื้นหน้าบ้านร้าว เห็นปูนข้างใน
                                        </p>
                                    </V-col>
                                </v-row>
                                <v-row>
                                    <V-col cols="6" xs="6" md="6">
                                        <p style="font-size: 16px; text-align: center">เรียบร้อย :</p>
                                    </V-col>
                                    <V-col cols="6" xs="6" md="6">
                                        <v-text-field v-model="st4" solo disabled elevation="0"
                                            style="margin: -15px 0px 0px -15px;">
                                        </v-text-field>
                                    </V-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="5" xs="5" md="5" style="margin: -20px 0px 0px 0px">
                                        <v-rating v-model="rating3" background-color="red" color="red" hover
                                            empty-icon="mdi-heart-circle" full-icon="mdi-heart-circle"
                                            half-icon="mdi-heart-circle" length="1" size="45" value="1"
                                            style="margin: -20px 0px 0px 50px">
                                        </v-rating>
                                    </v-col>
                                    <v-col cols="7" xs="7" md="7" style="margin: -20px 0px 0px 0px">
                                        <p style="font-size: 16px; color: grey; text-align: end;">
                                            กำหนดเสร็จ: 2/12/2020
                                        </p>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-card>
                </v-row>
            </v-card>
        </v-row>
    </v-app>
</div>

<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: () => ({
            items: ["ยังไม่รับเรื่อง", "กำลังดำเนินการ", "เรียบร้อย"],
            st1: 'DOC-2020080004',
            st2: 'ยังไม่รับเรื่อง',
            st3: 'เรียบร้อย',
            st4: 'DOC-2020080005',
            rating: 0,
            rating1: 0,
            rating2: 0,
            rating3: 0
        })
    })
</script>
<style>
    .font {
        font-family: "Prompt", sans-serif;
    }
</style>

{% endblock %}